body{
    font-family: 'Montserrat';
    font-size: 20px;
    background-color: #252B42;
    padding: 0;
    margin: 0;
}

.header{
    position: relative;
    top: -18px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/hero.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center top;
    /*display: flex;
    flex-direction: row;*/
}

/*#overlay{
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
 }*/

 #logo{
     float: left;
     position: relative;
     left: 210px;
     color: #FFFFFF;
 }

 nav{
     margin: 0 auto;
     padding: 10px;
 }

 #nav ul{
     text-align: right;
 }

 #nav > ul > li{
     display: inline-block;
     position: relative;
     right: 850px;
     top: 10px;
     margin-right: 30px;
     color: #FFFFFF;
     font-weight: bold;
 }

 #nav > ul > li:hover{
     color: #252B42;
 }

 #nav > ul > li > a{
     padding: 18px;
     margin-right: 50px;
     text-decoration: none;
     display: block;
 }

#login{
    float: right;
    position: relative;
    right: 150px;
}

#login > ul{
    text-align: left;
}

#login > ul > li{
    display: inline-block;
    position: relative;
    top: -62px;
    right: 150px;
    margin-right: 5px;
    color: white;
    font-weight: bold;
}

#login > ul > li:hover{
    color: #252B42;
}

#join{
    width: 200px;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
    margin-left: 100px;
    background-color: #24A6F0;
    color: rgb(247, 253, 246);
    border: #24A6F0;
}

#join:hover{
    background-color: #252B42;
}

.header .statement{
    /*border: 5px solid red;*/
    height: 650px;
    width: 750px;
    position: absolute;
    top: 30%;
    left: 35%;
    margin-top: -50px;
    margin-left: -100px;
    
}

#ensure{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 330%;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: -15px;
    top: -20px;
      /*border: 3px solid #73AD21;*/
}

#objects{
    color: #FFFFFF;
    position: relative;
    /*border: 3px solid #73AD21;*/
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    left: -15px;
    top: -50px;
}

#quotation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;  
}

#quote{
    width: 190px;
    height: 50px;
    border-radius: 35px 35px 35px 35px;
    margin-right: 10px;
    background-color: #24A6F0;
    color: rgb(247, 253, 246);
    border: #24A6F0;
}

#learn{
    width: 190px;
    height: 50px;
    border-radius: 35px 35px 35px 35px;
    background-color: transparent;
    border: 2px solid white;
    color: rgb(247, 253, 246);
}

#quote:hover, #learn:hover{
    background-color: #252B42;
}

.cards{
    /*padding-top: 1000px;*/
    height: 230px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 18px;
    background-color: #fafafafd;
    /*border: 5px solid blue;*/
}

#peace{
    /*border: 5px orange solid;*/
    background-color: #FFFFFF;
    height: 220px;
    width: 350px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px;
    position: relative;
    bottom: 110px;
}

#peace h2{
    color: #282E44;
}

#set{
    /*border: 5px orange solid;*/
    background-color: #FFFFFF;
    height: 220px;
    width: 350px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    bottom: 110px;
}

#set p{
    color: #282E44;
}

#hundred{
    /*border: 5px orange solid;*/
    background-color: #24A6F0;
    height: 220px;
    width: 350px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    position: relative;
    bottom: 110px;
    color: white;
}

i.fas, i.far{
    padding: 5px
}

.fa-user-friends, .fa-book, .fa-bookmark{
    color: #24A6F0;
    font-size: 50px;
}


#hundred .fa-user-friends{
    color: white;
}

.cardtwo{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -20px;
    bottom: 18px;
    background-color: #FFFFFF;
    /*border: 5px solid blue;*/
}

#mind{
   /*border: 5px orange solid;*/
   background-color: #FFFFFF;
   height: 220px;
   width: 350px;
   padding-left: 60px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-right: 15px;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}

#life{
    /*border: 5px orange solid;*/
    background-color: #FFFFFF;
    height: 220px;
    width: 350px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
 }

#satisfaction{
    /*border: 5px orange solid;*/
    background-color: #FFFFFF;
    height: 220px;
    width: 350px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
 }

 .industry{
     /*border: 5px solid red;*/
     height: 180px;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     position: relative;
     top: -20px;
     padding-top: 100px;
     background-color: #F8F8F9;
 }

 .industry h2{
     color: #252B42;
     margin-bottom: -5px;
 }

 .industry p{
     color: #959595;
 }

 .people{
     height: 900px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     text-align: center;
     position: relative;
     top: -80px;
     background-color: #F8F8F9;
     /*border: 5px solid red;*/
 }

 .people p{
     color: #BCBCBC;
 }

 #user1{
     height: 600px;
     width: 420px;
     border: 2px solid #EFEFEF;
     margin-right: 25px;
     background-color: #FFFFFF;
 }

#user1 img{
     padding-top: 50px;
     padding-bottom: 30px;
 }

#user2{
    height: 600px;
    width: 420px;
    border: 2px solid #EFEFEF;
    margin-right: 25px;
    margin-left: 25px;
    background-color: #FFFFFF;
}

#user2 img{
    padding-top: 50px;
    padding-bottom: 30px;
}

#user3{
    height: 600px;
    width: 420px;
    border: 2px solid #EFEFEF;
    margin-left: 25px;
    background-color: #FFFFFF;
}

#user3 img{
    padding-top: 50px;
    padding-bottom: 30px;
}

.stars span{
    color: #dace9c;
}

.checked{
    color: #F2CE35!important;
}
